body{
    background: rgb(15, 53, 92);
    font-family: sans-serif;
    font-weight: 100;
}
.container{
    padding: 20px;
    max-width: 1440px;
}
h1{
    text-align: center;
    color: #fff;
}
.list{
    display: flex;
    padding: 0px;
}
.list-item{
    list-style-type: none;
    flex:1;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
     /* align-items: center;
     background: #fff; */
    cursor: pointer;
    transition: .2s;
    color: #fff;
}
.list-item:hover{
    box-shadow: 0px 0px 14px 6px #f3f5f5;
    /* // flex:5;
    // background: rgb(90, 150, 209); */
}
.list-item:active{
    box-shadow: none;

   background:  rgb(15, 53, 92);
}
.form-group{
    /* // padding: 20px 50px; */
    display: flex;
    justify-content: space-between;
    
}
.form-group >input{
    display: flex;
    /* // flex:1; */
    padding: 10px;
    flex:1;
    font-size: 18px;
    transition: .4s;
    /* // margin: 0px 10px; */
}
.form-group > textarea{
    display: flex;
    min-height: 100px;
    padding: 10px;
    flex: 1;
    font-size: 18px;
    transition: .4s;
}
.form-group > input:focus{
    flex:2;
    
}

.btn{
    display: inline-flex;
    padding: 10px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #000;
    transition: .3s;
    color: #fff;
    margin-right: 10px;
}
.btn-cancel,
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active{
    color: #ffff;
    background: #374f67
}
.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active{
    color: #ffff;
    background-color: #9e4848;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
    color: #ffff;
    background-color: #245384;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active{
    color: #ffff;
    background-color: #d8794c;
}
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active{
    color: #ffff;
    background-color: #5e97d2;
}
.btn:hover{
    color: #ffff;
    border-color: transparent;
    /* background-color: rgb(15, 53, 92);     */
    box-shadow: 0px 0px 6px 2px #f3f5f5;
    
}